@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    font-size: 65%;
}
body{
    display: flex;
    justify-content: center;

}
h1{
    text-shadow:2px 2px rgb(192, 192, 192)
}
input{
    width: 100px;
}
#page{
    width: 27vw;
    height: 250px;
    background-color: rgb(184, 44, 175);
    text-align: center;
    box-shadow: 6px 6px rgb(135, 24, 152);
}
#red{
    color: rgb(255, 0, 0);
}
#green{
    color: rgb(0, 255, 64);
}
#blue{
    color: rgb(64, 0, 255);
}
button{
    background-color: gray;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    width: 120px;
    height: 25px;
    justify-content: center;
}